#sobre {
  background: #FFF;
  padding: var(--mb-2) 0;
}

.about__stack-box {
  margin-bottom: var(--mb-0-5);
}

.about__stack-title {
  padding-bottom: var(--mb-1);
}

.about__stack-group {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  column-gap: 1.5rem;
  margin-bottom: var(--mb-1);
}

.about__stack-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__stack-box-2 h3 {
  margin-top: var(--mb-3);
}

.about__stack-data img {
  height: 3rem;
  width: 3rem;
  transition: all .3s ease-in-out;
}

.about__stack-data img:hover {
  transform: translateY(-1rem);
}

.about__stack-data span {
  font-size: var(--small-font-size);
}

.about__content {
  column-gap: 4rem;
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-3);
}

.about__img {
  width: 30rem;
  border-radius: .5rem;
  justify-self: center;
}

.about__subtitle {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
}

.about__description {
  margin-bottom: var(--mb-1);
}

.about__data .button {
  gap: .5rem;
}

@media (max-width: 1020px) {
  .about__container {
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
  }

  .about__img {
    width: 100%;
    max-width: 500px;
    height: auto;
  }

  .about__content {
    padding-top: var(--mb-1-5);
    flex-direction: column;
    text-align: center;
  }

  .about__content p {
    text-align: justify;
  }

  .about__content h3 {
    padding-top: var(--mb-1-5);
  }

  .about__info {
    justify-content: center;
  }

  .about__description {
    text-align: center;
  }

  .about__stack {
    justify-content: center;
  }

  .about__stack-box {
    padding: 0 .5rem;
  }

  .about__stack-data {
    display: flex;
    flex-direction: column;
  }

  .about__stack-data img {
    height: 2.5rem;
    width: 2.5rem;
  }

  .about__stack-data span {
    font-size: var(--small-font-size);
  }
}

@media (max-width: 600px)  {
  .about__description {
    padding: 0;
  }

  .about__stack-group {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
  }

  .about__content {
    flex-direction: column;
  }

  .about__img {
    margin-bottom: var(--mb-1-5);
  }

  .about__subtitle {
    text-align: center;
  }
}

